<div>
    <div class="col-12 categories d-flex justify-content-center">
        <div class="col-1" *ngFor="let category of categories">
            <p-card>
                <div *ngIf="category.items" (mouseenter)="menu.toggle($event)" (mouseleave)="menu.toggle($event)">
                    <img class="img-fluid" alt="Card" src={{category.img}} />
                    <p class="m-0">{{category.name}}</p>
                    <p-tieredMenu #menu [model]="category.items" [popup]="true"></p-tieredMenu>
                </div>
                <div *ngIf="!category.items">
                    <img class="img-fluid" alt="Card" src={{category.img}} />
                    <p class="m-0">{{category.name}}</p>
                </div>
            </p-card>
        </div>
    </div>
</div>