<div class="col-12 d-flex align-items-center item-category">
    <div class="card category-card col-2"
        style="background: url({{itemCategory.bg}}); background-repeat: no-repeat; background-position: bottom;">
        <div class="d-flex flex-column align-items-center">
            <h2 class="mt-5 fw-normal">{{itemCategory.name}}</h2>
            <p-button class="mt-4" label="View All"></p-button>
        </div>
    </div>
    <div class="card">
        <p-carousel [value]="itemCategory.products" [numVisible]="6" [numScroll]="6" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-3 px-3">
                    <div class="mb-3 category-img">
                        <img src="{{product.img}}" class="w-6 shadow-2" />
                    </div>
                    <div>
                        <h6 class="mb-1">{{ product.name }}</h6>
                        <p class="mb-1">{{ '$' + product.price }}</p>
                        <p>{{product.brand}}</p>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>