<div class="card col-12">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img routerLink="/home" src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png" height="40" class="mr-2" />
            <span class="p-input-icon-right">
                <input type="text" pInputText placeholder="Search for products, brands and more"/>
                <i class="pi pi-search"></i>
            </span>
            <p-button label="Login" styleClass="p-button-raised p-button-text"></p-button>
            <a class="seller-link">Become a Seller</a>
        </ng-template>
    </p-menubar>
</div>
