<div class="card p-3 border-bottom">
    <div class="d-flex flex-row">
        <div style="width: 20%;">
            <div class="d-flex flex-column align-items-center">
                <div>
                    <img src="../../assets/cart-item.png">
                </div>
                <div class="d-flex flex-row gap-2 mt-4 item-actions align-items-center">
                    <p-button icon="pi pi-minus" styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button>
                    <p-inputNumber inputId="integeronly" [(ngModel)]="initialValue"> </p-inputNumber>
                    <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button>
                </div>
            </div>
        </div>
        <div class="item-description p-1" style="width: 52%;">
            <div class="item-name">
                <h6><a>HP DeskJet 2331 Multi-function Color Inkjet Printer with Scanner and Copier , Compact Size, Reliable, Easy Set-Up Through HP Smart App On Your PC Connected Through USB, Ideal for Home  (White Lavender, Ink Cartridge)</a></h6>
                <p class="text-muted m-0">White Lavender, Ink Cartridge</p>
            </div>
            <div class="d-flex align-items-center gap-2">
                <p class="text-muted m-0">Seller:MTAILMODEECOM</p>
                <img style="height: 15px;" src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_62673a.png">
            </div>
            <div class="d-flex align-items-baseline gap-3 my-3">
                <p class="text-muted m-0 text-decoration-line-through">4971</p>
                <h5>3999</h5>
                <p class="m-0 text-success" style="font-size: 14px;">19% off</p>
                <p class="m-0 text-success" style="font-size: 14px;">3 offers applied <i class="pi pi-info-circle"></i></p>
            </div>
            <div class="d-flex gap-4">
                <h6>SAVE FOR LATER</h6>
                <h6>DELETE</h6>
            </div>
        </div>
        <div style="width: 28%;" class="p-1">
            <p style="font-size: 14px;" class="m-0">Delivery by Tue Aug 29 | <span class="text-success">Free </span> <span class="text-decoration-line-through">40</span></p>
        </div>
    </div>
</div>